body{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}
.navbar{
  background-color:#ff8533;
}
.navbar-light .navbar-brand{
  color:white !important;
}
.navbar-light .navbar-nav .nav-link {
  color:white !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #ff6600 !important;
}
#programme,#reserver,#actualites,#contact{
  padding-top: 50px;
}
a{
  color:black !important;
}
.btn{
  background-color: #ff8533 !important;
}

#form1,#form2,footer{
  background-color: #e9ecef;
}
.footer-copyright {
  background-color: #ff8533;
}