.navbar{
  background-color:orange;
}
.navbar-light .navbar-brand{
  color:white !important;
}
.navbar-light .navbar-nav .nav-link {
  color:white !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: orangered !important;
}
#programme,#reserver,#actualites,#contact,#contact{
  padding-top: 50px;
}
a{
  color:black !important;
}
.btn{
  background-color: orangered !important;
}